{% extends 'df_goods/base.html' %}

{% block head %}
<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="/static/js/detail_product.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/js/lightbox.min.js"></script>

<link rel="stylesheet" type="text/css" href="/static/css/detail.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/css/lightbox.min.css" rel="stylesheet">

<!-- Swiper-->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- PhotoSwipe -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/default-skin/default-skin.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe-ui-default.min.js"></script>

<script type="text/javascript">
    var imageUrls = [
        {% for image in goods.images.all %}
        '{{ MEDIA_URL }}{{ image.image_path }}',
        {% endfor %}
    ];
</script>

<style>
    .pswp__bg {
        background-color: white !important;
    }
</style>

{% endblock head %}

{% block center_content %}
<div class="goods_detail_con clearfix">
    <div class="goods_detail_pic fl">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% for image in goods.images.all %}
                <div class="swiper-slide">
                    <img src="{{ MEDIA_URL }}{{ image.image_path }}" alt="{{ goods.gtitle }}"
                        class="img-fluid rounded swiper-image" loading="lazy"
                        data-zoom-image="{{ MEDIA_URL }}{{ image.image_path }}">
                </div>
                {% endfor %}
            </div>
            <!-- Navigation buttons -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <!-- Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>


    <!-- Root element of PhotoSwipe -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <!-- Background of PhotoSwipe. 
            It's a separate element as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">
            <!-- Container that holds slides. 
                PhotoSwipe keeps only 3 of them in the DOM to save memory.
                Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <button class="pswp__button pswp__button--share" title="Share"></button>

                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="goods_detail_list fr">
        <h3>{{ goods.gtitle }}</h3>
        <p>{{ goods.gjianjie }}</p>
        <div class="prize_bar">
            <span class="show_pirze">
                <em class="prize" data-price="{{ goods.gprice }}">{{ goods.gprice }}₫</em>
            </span>
        </div>
        <div class="goods_num clearfix">
            <div class="num_name fl">Số lượng：</div>
            <div class="num_add fl">
                <a href="javascript:minus();" class="minus fr">-</a>
                <input type="text" class="num_show fl" value="1">
                <a href="javascript:plus();" class="add fr">+</a>
            </div>
            <span class="show_unit"><span class="goods_kucun">{{ goods.gkucun }} sản phẩm có sẵn</span></span>
        </div>
        <div class="operate_btn">
            {% if request.session.user_name|default:'' != '' %}
            <a href="javascript:;" class="buy_btn" id="buy_now">Mua ngay</a>
            {% else %}
            <a href='{% url "df_user:login" %}' class="buy_btn">Mua ngay</a>
            {% endif %}
            {% if request.session.user_name|default:'' != '' %}
            <a href="javascript:;" class="add_cart" id="add_cart">Thêm Vào Giỏ Hàng</a>
            {% else %}
            <a href='{% url "df_user:login" %}' class="add_cart" id="add_cart">Thêm Vào Giỏ Hàng</a>
            {% endif %}
        </div>
    </div>
</div>

<div class="main_wrap clearfix">
    <div class="r_wrap fr clearfix">
        <ul class="detail_tab clearfix">
            <li class="active">MÔ TẢ SẢN PHẨM</li>
        </ul>

        <div class="tab_content">
            <dl>
                <dd>{{ goods.gcontent|linebreaks }}</dd>
            </dl>
        </div>
    </div>
</div>

<div class="main_wrap clearfix">
    <div class="new_goods">
        <h3>Sản phẩm mới</h3>
        <ul>
            {% for goods in news %}
            <li>
                <a href="/{{ goods.id }}/">
                    {% if goods.images.all %}
                    <img src="{{ MEDIA_URL }}{{ goods.images.all.0.image_path }}" alt="{{ goods.gtitle }}"
                        class="img-fluid rounded">
                    {% else %}
                    <img src="https://media.istockphoto.com/id/2066398587/vector/default-paper-word-sign-with-colorful-spectrum-paint-brush-strokes-over-white.jpg?s=612x612&w=0&k=20&c=kvuJdgEka1-NLy_3IwklnChLmtPQM70oJK81g8SEmjo="
                        alt="Default Img">
                    {% endif %}
                </a>
                <h4><a href="#">{{ goods.gtitle }}</a></h4>
                <div class="prize" id="prize" data-price="{{ goods.gprice }}">${{ goods.gprice }}</div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="add_jump"></div>

{% endblock center_content %}