{% extends 'base.html' %}

{% block center_body %}
<div class="body-home">
	<div class="center_con clearfix">
		<div class="slide fl">
			<ul class="slide_pics">
				<li><img src="/static/images/slide.jpg" alt="slide"></li>
				<li><img src="/static/images/slide02.jpg" alt="slide"></li>
				<li><img src="/static/images/slide03.jpg" alt="slide"></li>
				<li><img src="/static/images/slide04.jpg" alt="slide"></li>
				<li><img src="/static/images/slide05.jpg" alt="slide"></li>
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model01">New Arrival</h3>
		</div>
		<div class="goods_con clearfix">
			<ul class="goods_list fl">
				{% for goods in type0 %}
				<li>
					<h4><a href="/{{ goods.id }}/">{{ goods.gtitle }}</a></h4>
					<a href="/{{ goods.id }}/">
						{% if goods.images.all %}
						<img src="{{ MEDIA_URL }}{{ goods.images.all.0.image_path }}" alt="{{ goods.gtitle }}"
							class="img-fluid rounded">
						{% else %}
						<img src="{{ MEDIA_URL }}default_image.jpg" alt="Default Img">
						{% endif %}
					</a>
					<div class="prize"> $ {{ goods.gprice }} </div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model02">Best Sellers</h3>

		</div>

		<div class="goods_con clearfix">
			<ul class="goods_list fl">
				{% for goods in type100 %}
				<li>
					<h4><a href="/{{ goods.id }}/">{{ goods.gtitle }}</a></h4>
					<a href="/{{ goods.id }}/">
						{% if goods.images.all %}
						<img src="{{ MEDIA_URL }}{{ goods.images.all.0.image_path }}" alt="{{ goods.gtitle }}"
							class="img-fluid rounded">
						{% else %}
						<img src="{{ MEDIA_URL }}default_image.jpg" alt="Default Img">
						{% endif %}
					</a>
					<div class="prize"> $ {{ goods.gprice }} </div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model03">Man</h3>

			<a href="/list11_1_1/" class="goods_more fr">more ></a>
		</div>

		<div class="goods_con clearfix">
			<ul class="goods_list fl">
				{% for goods in type41 %}
				<li>
					<h4><a href="/{{ goods.id }}/">{{ goods.gtitle }}</a></h4>
					<a href="/{{ goods.id }}/">
						{% if goods.images.all %}
						<img src="{{ MEDIA_URL }}{{ goods.images.all.0.image_path }}" alt="{{ goods.gtitle }}"
							class="img-fluid rounded">
						{% else %}
						<img src="{{ MEDIA_URL }}default_image.jpg" alt="Default Img">
						{% endif %}
					</a>
					<div class="prize"> $ {{ goods.gprice }} </div>
				</li>
				{% endfor %}
			</ul>
		</div>

	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model03">Woman</h3>

			<a href="/list12_1_1/" class="goods_more fr">more ></a>
		</div>

		<div class="goods_con clearfix">
			<ul class="goods_list fl">
				{% for goods in type51 %}
				<li>
					<h4><a href="/{{ goods.id }}/">{{ goods.gtitle }}</a></h4>
					<a href="/{{ goods.id }}/">
						{% if goods.images.all %}
						<img src="{{ MEDIA_URL }}{{ goods.images.all.0.image_path }}" alt="{{ goods.gtitle }}"
							class="img-fluid rounded">
						{% else %}
						<img src="{{ MEDIA_URL }}default_image.jpg" alt="Default Img">
						{% endif %}
					</a>
					<div class="prize"> $ {{ goods.gprice }} </div>
				</li>
				{% endfor %}
			</ul>
		</div>

	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model03">Game</h3>

			<a href="/list9_1_1/" class="goods_more fr">more ></a>
		</div>

		<div class="goods_con clearfix">
			<ul class="goods_list fl">
				{% for goods in type21 %}
				<li>
					<h4><a href="/{{ goods.id }}/">{{ goods.gtitle }}</a></h4>
					<a href="/{{ goods.id }}/">
						{% if goods.images.all %}
						<img src="{{ MEDIA_URL }}{{ goods.images.all.0.image_path }}" alt="{{ goods.gtitle }}"
							class="img-fluid rounded">
						{% else %}
						<img src="{{ MEDIA_URL }}default_image.jpg" alt="Default Img">
						{% endif %}
					</a>
					<div class="prize"> $ {{ goods.gprice }} </div>
				</li>
				{% endfor %}
			</ul>
		</div>

	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model04">Accessories</h3>
			<a href="/list10_1_1/" class="goods_more fr">more ></a>
		</div>

		<div class="goods_con clearfix">
			<ul class="goods_list fl">
				{% for goods in type31 %}
				<li>
					<h4><a href="/{{ goods.id }}/">{{ goods.gtitle }}</a></h4>
					<a href="/{{ goods.id }}/">
						{% if goods.images.all %}
						<img src="{{ MEDIA_URL }}{{ goods.images.all.0.image_path }}" alt="{{ goods.gtitle }}"
							class="img-fluid rounded">
						{% else %}
						<img src="{{ MEDIA_URL }}default_image.jpg" alt="Default Img">
						{% endif %}
					</a>
					<div class="prize"> $ {{ goods.gprice }} </div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>

<script type="text/javascript" src="/static/js/slide.js"></script>
<script type="text/javascript">
	BCSlideshow('focuspic');
	var oFruit = document.getElementById('fruit_more');
	var oShownum = document.getElementById('show_count');

	var hasorder = localStorage.getItem('order_finish');

	if (hasorder) {
		oShownum.innerHTML = '2';
	}

	oFruit.onclick = function () {
		window.location.href = 'list.html';
	}
</script>

{% endblock center_body %}