{% extends 'base.html' %}

{% block center_body %}
<div class="body-home">
	<div class="center_con clearfix">
		<div class="slide fl">
			<ul class="slide_pics">
				<li><img src="/static/images/banner/banner-may-lanh.jpg" alt="slide" loading="lazy" width="1200"></li>
				<li><img src="/static/images/banner/banner13.jpg" alt="slide" loading="lazy" width="1200">
					<li><img src="/static/images/banner/banner-may-lanh.png" alt="slide" loading="lazy" width="1200"></li>

				</li>
				<!-- {% with "123456789" as numbers %}
				{% for i in numbers %}
				<li><img src="/static/images/banner/slide0{{ i }}.png" alt="slide" loading="lazy"></li>
				{% endfor %}
				{% endwith %} -->
			</ul>
			<div class="prev" aria-label="Previous Slide"></div>
			<div class="next" aria-label="Next Slide"></div>
			<ul class="points"></ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model01">Mới về</h3>
		</div>
		<div class="goods_con clearfix">
			<ul class="goods_list fl">
				{% for goods in newest_products %}
				<li>
					<a href="/{{ goods.id }}/">
						<div class="item-img">
							{% if goods.images.all %}
							<img src="{{ MEDIA_URL }}{{ goods.images.all.0.image_path }}" alt="{{ goods.gtitle }}"
								class="img-fluid rounded"
								onerror="this.onerror=null;this.src='https://media.istockphoto.com/id/2066398587/vector/default-paper-word-sign-with-colorful-spectrum-paint-brush-strokes-over-white.jpg?s=612x612&w=0&k=20&c=kvuJdgEka1-NLy_3IwklnChLmtPQM70oJK81g8SEmjo=';">
							{% else %}
							<img src="https://media.istockphoto.com/id/2066398587/vector/default-paper-word-sign-with-colorful-spectrum-paint-brush-strokes-over-white.jpg?s=612x612&w=0&k=20&c=kvuJdgEka1-NLy_3IwklnChLmtPQM70oJK81g8SEmjo="
								alt="Default Img">
							{% endif %}
						</div>
					</a>
					<h4 class="goods_title"><a href="/{{ goods.id }}/">{{ goods.gtitle }}</a></h4>
					<div class="price-info">
						<strong class="prize" id="gprice" data-price="{{ goods.gprice }}">{{ goods.gprice }}₫</strong>
						<div class="price-and-discount">
							{% if goods.gprice_old %}
							<label class="old-price" data-old-price="{{ goods.gprice_old }}">{{ goods.gprice_old
								}}₫</label>
							<small class="discount" data-old-price="{{ goods.gprice_old }}"
								data-new-price="{{ goods.gprice }}"></small>
							{% endif %}
						</div>
					</div>
					<div class="operate_btn">
						<a href="javascript:;" class="buy_btn" data-product-id="{{ goods.id }}">Mua ngay</a>
						<p>Liên hệ SĐT/Zalo 0334 676 226 để có giá rẻ hơn</p>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model02">Đèn chùm</h3>
		</div>

		<div class="goods_con clearfix">
			<ul class="goods_list fl">
				{% for goods in den_chum_type %}
				<li>
					<a href="/{{ goods.id }}/">
						<div class="item-img">
							{% if goods.images.all %}
							<img src="{{ MEDIA_URL }}{{ goods.images.all.0.image_path }}" alt="{{ goods.gtitle }}"
								class="img-fluid rounded"
								onerror="this.onerror=null;this.src='https://media.istockphoto.com/id/2066398587/vector/default-paper-word-sign-with-colorful-spectrum-paint-brush-strokes-over-white.jpg?s=612x612&w=0&k=20&c=kvuJdgEka1-NLy_3IwklnChLmtPQM70oJK81g8SEmjo=';">
							{% else %}
							<img src="https://media.istockphoto.com/id/2066398587/vector/default-paper-word-sign-with-colorful-spectrum-paint-brush-strokes-over-white.jpg?s=612x612&w=0&k=20&c=kvuJdgEka1-NLy_3IwklnChLmtPQM70oJK81g8SEmjo="
								alt="Default Img">
							{% endif %}
						</div>
					</a>
					<h4 class="goods_title"><a href="/{{ goods.id }}/">{{ goods.gtitle }}</a></h4>
					<div class="price-info">
						<strong class="prize" id="gprice" data-price="{{ goods.gprice }}">{{ goods.gprice }}₫</strong>
						<div class="price-and-discount">
							{% if goods.gprice_old %}
							<label class="old-price" data-old-price="{{ goods.gprice_old }}">{{ goods.gprice_old
								}}₫</label>
							<small class="discount" data-old-price="{{ goods.gprice_old }}"
								data-new-price="{{ goods.gprice }}"></small>
							{% endif %}
						</div>
					</div>
					<div class="operate_btn">
						<a href="javascript:;" class="buy_btn" data-product-id="{{ goods.id }}">Mua ngay</a>
						<p>Liên hệ SĐT/Zalo 0334 676 226 để có giá rẻ hơn</p>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model02">Máy lạnh</h3>
		</div>

		<div class="goods_con clearfix">
			<ul class="goods_list fl">
				{% for goods in may_lanh_type %}
				<li>
					<a href="/{{ goods.id }}/">
						<div class="item-img">
							{% if goods.images.all %}
							<img src="{{ MEDIA_URL }}{{ goods.images.all.0.image_path }}" alt="{{ goods.gtitle }}"
								class="img-fluid rounded"
								onerror="this.onerror=null;this.src='https://media.istockphoto.com/id/2066398587/vector/default-paper-word-sign-with-colorful-spectrum-paint-brush-strokes-over-white.jpg?s=612x612&w=0&k=20&c=kvuJdgEka1-NLy_3IwklnChLmtPQM70oJK81g8SEmjo=';">
							{% else %}
							<img src="https://media.istockphoto.com/id/2066398587/vector/default-paper-word-sign-with-colorful-spectrum-paint-brush-strokes-over-white.jpg?s=612x612&w=0&k=20&c=kvuJdgEka1-NLy_3IwklnChLmtPQM70oJK81g8SEmjo="
								alt="Default Img">
							{% endif %}
						</div>
					</a>
					<h4 class="goods_title"><a href="/{{ goods.id }}/">{{ goods.gtitle }}</a></h4>
					<div class="price-info">
						<strong class="prize" id="gprice" data-price="{{ goods.gprice }}">{{ goods.gprice }}₫</strong>
						<div class="price-and-discount">
							{% if goods.gprice_old %}
							<label class="old-price" data-old-price="{{ goods.gprice_old }}">{{ goods.gprice_old
								}}₫</label>
							<small class="discount" data-old-price="{{ goods.gprice_old }}"
								data-new-price="{{ goods.gprice }}"></small>
							{% endif %}
						</div>
					</div>
					<div class="operate_btn">
						<a href="javascript:;" class="buy_btn" data-product-id="{{ goods.id }}">Mua ngay</a>
						<p>Liên hệ SĐT/Zalo 0334 676 226 để có giá rẻ hơn</p>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model02">Quạt điều hoà</h3>
		</div>
		<div class="goods_con clearfix">
			<ul class="goods_list fl">
				{% for goods in quat_dieu_hoa_type %}
				<li>
					<a href="/{{ goods.id }}/">
						<div class="item-img">
							{% if goods.images.all %}
							<img src="{{ MEDIA_URL }}{{ goods.images.all.0.image_path }}" alt="{{ goods.gtitle }}"
								class="img-fluid rounded"
								onerror="this.onerror=null;this.src='https://media.istockphoto.com/id/2066398587/vector/default-paper-word-sign-with-colorful-spectrum-paint-brush-strokes-over-white.jpg?s=612x612&w=0&k=20&c=kvuJdgEka1-NLy_3IwklnChLmtPQM70oJK81g8SEmjo=';">
							{% else %}
							<img src="https://media.istockphoto.com/id/2066398587/vector/default-paper-word-sign-with-colorful-spectrum-paint-brush-strokes-over-white.jpg?s=612x612&w=0&k=20&c=kvuJdgEka1-NLy_3IwklnChLmtPQM70oJK81g8SEmjo="
								alt="Default Img">
							{% endif %}
						</div>
					</a>
					<h4 class="goods_title"><a href="/{{ goods.id }}/">{{ goods.gtitle }}</a></h4>
					<div class="price-info">
						<strong class="prize" id="gprice" data-price="{{ goods.gprice }}">{{ goods.gprice }}₫</strong>
						<div class="price-and-discount">
							{% if goods.gprice_old %}
							<label class="old-price" data-old-price="{{ goods.gprice_old }}">{{ goods.gprice_old
								}}₫</label>
							<small class="discount" data-old-price="{{ goods.gprice_old }}"
								data-new-price="{{ goods.gprice }}"></small>
							{% endif %}
						</div>
					</div>
					<div class="operate_btn">
						<a href="javascript:;" class="buy_btn" data-product-id="{{ goods.id }}">Mua ngay</a>
						<p>Liên hệ SĐT/Zalo 0334 676 226 để có giá rẻ hơn</p>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model02">Nồi chiên không dầu</h3>
		</div>
		<div class="goods_con clearfix">
			<ul class="goods_list fl">
				{% for goods in noi_chien_khong_dau_type %}
				<li>
					<a href="/{{ goods.id }}/">
						<div class="item-img">
							{% if goods.images.all %}
							<img src="{{ MEDIA_URL }}{{ goods.images.all.0.image_path }}" alt="{{ goods.gtitle }}"
								class="img-fluid rounded"
								onerror="this.onerror=null;this.src='https://media.istockphoto.com/id/2066398587/vector/default-paper-word-sign-with-colorful-spectrum-paint-brush-strokes-over-white.jpg?s=612x612&w=0&k=20&c=kvuJdgEka1-NLy_3IwklnChLmtPQM70oJK81g8SEmjo=';">
							{% else %}
							<img src="https://media.istockphoto.com/id/2066398587/vector/default-paper-word-sign-with-colorful-spectrum-paint-brush-strokes-over-white.jpg?s=612x612&w=0&k=20&c=kvuJdgEka1-NLy_3IwklnChLmtPQM70oJK81g8SEmjo="
								alt="Default Img">
							{% endif %}
						</div>
					</a>
					<h4 class="goods_title"><a href="/{{ goods.id }}/">{{ goods.gtitle }}</a></h4>
					<div class="price-info">
						<strong class="prize" id="gprice" data-price="{{ goods.gprice }}">{{ goods.gprice }}₫</strong>
						<div class="price-and-discount">
							{% if goods.gprice_old %}
							<label class="old-price" data-old-price="{{ goods.gprice_old }}">{{ goods.gprice_old
								}}₫</label>
							<small class="discount" data-old-price="{{ goods.gprice_old }}"
								data-new-price="{{ goods.gprice }}"></small>
							{% endif %}
						</div>
					</div>
					<div class="operate_btn">
						<a href="javascript:;" class="buy_btn" data-product-id="{{ goods.id }}">Mua ngay</a>
						<p>Liên hệ SĐT/Zalo 0334 676 226 để có giá rẻ hơn</p>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>

</div>

<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", function () {
		const discounts = document.querySelectorAll('.discount');
		discounts.forEach(function (discount) {
			const oldPrice = parseFloat(discount.getAttribute('data-old-price'));
			const newPrice = parseFloat(discount.getAttribute('data-new-price'));
			if (oldPrice && newPrice) {
				const discountPercentage = ((oldPrice - newPrice) / oldPrice) * 100;
				discount.textContent = '-' + discountPercentage.toFixed(2) + '%';
			}
		});

		$(".buy_btn").on("click", function () {
			let num = 1; // Change this if quantity can be adjusted dynamically
			let productId = $(this).data('product-id'); // Corrected data attribute

			if (!productId) {
				alert("Invalid product ID.");
				return;
			}

			console.log("Adding product ID:", productId);

			$.get(`/cart/add${productId}_${num}/`, function (data) {
				$('#show_count').text(data.count);
				location.href = "/cart/";
			}).fail(function () {
				alert('Error adding to cart. Please try again.');
			});
		});
	});

	BCSlideshow('focuspic');
	var oFruit = document.getElementById('fruit_more');
	var hasorder = localStorage.getItem('order_finish');

	if (hasorder) {
		oShownum.innerHTML = '2';
	}

	oFruit.onclick = function () {
		window.location.href = 'list.html';
	}
</script>

{% endblock center_body %}