{% extends 'df_goods/base.html' %}

{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="Khám phá bộ sưu tập {{ typeinfo.ntitle|title }} đa dạng của chúng tôi. Giá tốt nhất, chất lượng đảm bảo, giao hàng nhanh chóng toàn quốc.">
<meta name="keywords" content="{{ typeinfo.ntitle|title }}, mua sắm trực tuyến, điện máy, thiết bị gia dụng, giá rẻ">

<!-- Open Graph meta tags for social media -->
<meta property="og:title" content="{{ typeinfo.ntitle|title }} - Cửa hàng Điện Thanh Liêm">
<meta property="og:description" content="Mua {{ typeinfo.ntitle|title }} chính hãng ✓ Giá tốt nhất ✓ Trả góp 0% ✓ Giao hàng miễn phí ✓ Bảo hành chính hãng">
<meta property="og:type" content="product">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:site_name" content="Cửa hàng Điện Thanh Liêm tại Bình Định">
<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ MEDIA_URL }}{{ image_category }}">
<meta property="og:image:secure_url" content="{{ request.scheme }}://{{ request.get_host }}{{ MEDIA_URL }}{{ image_category }}">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:image:type" content="image/{{ image_type }}">

<!-- Language and region -->
<meta property="og:locale" content="vi_VN">
<meta name="language" content="Vietnamese">
<meta name="geo.region" content="VN">

<!-- Canonical URL -->
<link rel="canonical" href="{{ request.build_absolute_uri }}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/categories.css">
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        const discounts = document.querySelectorAll('.discount');
        discounts.forEach(function (discount) {
            const oldPrice = parseFloat(discount.getAttribute('data-old-price'));
            const newPrice = parseFloat(discount.getAttribute('data-new-price'));
            if (oldPrice && newPrice) {
                const discountPercentage = ((oldPrice - newPrice) / oldPrice) * 100;
                discount.textContent = '-' + discountPercentage.toFixed(2) + '%';
            }
        });
    });
</script>
{% endblock head %}

{% block center_content %}
<div class="main_wrap clearfix">
    <div class="r_wrap fr clearfix">                                                                                                                                                                                                                                                                                                                                                        
        {% if typeinfo.ttitle == 'may-lanh' %}
        <div class="box-quicklink  block-scroll-main ">
            <div class="lst-quicklink">
                <a href="/may-lanh_1_1" data-index="1"
                    class="box-quicklink__item bd-radius quicklink-logo {% if not selected_brand %}active{% endif %}"
                    style="display: flex;">
                    <img src="/static/images/all_icon.png" width="30" alt="icon" class="no-text" lazyloaded="">
                </a>
                <a href="/may-lanh_1_1/panasonic" data-index="1"
                    class="box-quicklink__item bd-radius quicklink-logo {% if selected_brand == 'panasonic' %}active{% endif %}"
                    style="display: flex;">
                    <i class="quick-link-icon"></i>
                    <img src="https://cdnv2.tgdd.vn/mwg-static/common/Category/7b/fe/7bfefb3ef979c2a3a4ed10ee8afaec7f.png"
                        width="30" alt="icon" class="no-text" lazyloaded="">
                </a>
                <a href="/may-lanh_1_1/daikin" data-index="1"
                    class="box-quicklink__item bd-radius quicklink-logo {% if selected_brand == 'daikin' %}active{% endif %}"
                    style="display: flex;">
                    <i class="quick-link-icon"></i>
                    <img src="https://cdnv2.tgdd.vn/mwg-static/common/Category/2f/53/2f53a117d367a1180788ae6ed2ddec12.png"
                        width="30" alt="icon" class="no-text" lazyloaded="">
                </a>
                <a href="/may-lanh_1_1/aqua" data-index="1"
                    class="box-quicklink__item bd-radius quicklink-logo {% if selected_brand == 'aqua' %}active{% endif %}"
                    style="display: flex;">
                    <i class="quick-link-icon"></i>
                    <img src="https://cdnv2.tgdd.vn/mwg-static/common/Category/77/70/7770c6499cb79088e8663b61bda39539.png"
                        width="30" alt="icon" class="no-text" lazyloaded="">
                </a>
                <a href="/may-lanh_1_1/lg" data-index="1"
                    class="box-quicklink__item bd-radius quicklink-logo {% if selected_brand == 'lg' %}active{% endif %}"
                    style="display: flex;">
                    <i class="quick-link-icon"></i>
                    <img src="https://cdnv2.tgdd.vn/mwg-static/common/Category/b2/fc/b2fc6b8befcdfe03c16d0d4dda903092.png"
                        width="30" alt="icon" class="no-text" lazyloaded="">
                </a>
                <a href="/may-lanh_1_1/casper" data-index="1"
                    class="box-quicklink__item bd-radius quicklink-logo {% if selected_brand == 'casper' %}active{% endif %}"
                    style="display: flex;">
                    <i class="quick-link-icon"></i>
                    <img src="https://cdnv2.tgdd.vn/mwg-static/common/Category/e6/4b/e64bff8ef49f4af70d2981e842933410.png"
                        width="30" alt="icon" class="no-text" lazyloaded="">
                </a>
                <a href="/may-lanh_1_1/samsung" data-index="1"
                    class="box-quicklink__item bd-radius quicklink-logo {% if selected_brand == 'samsung' %}active{% endif %}"
                    style="display: flex;">
                    <i class="quick-link-icon"></i>
                    <img src="https://cdnv2.tgdd.vn/mwg-static/common/Category/89/ba/89baf2121494abea518fca0c710475c6.png"
                        width="30" alt="icon" class="no-text" lazyloaded="">
                </a>
            </div>
        </div>
        {% elif typeinfo.ttitle == 'camera-giam-sat' %}
        <div class="box-quicklink  block-scroll-main ">
            <div class="lst-quicklink">
                <a href="/camera-giam-sat_1_1" data-index="1"
                    class="box-quicklink__item bd-radius quicklink-logo {% if not selected_brand %}active{% endif %}"
                    style="display: flex;">
                    <img src="/static/images/all_icon.png" width="30" alt="icon" class="no-text" lazyloaded="">
                </a>
                <a href="/camera-giam-sat_1_1/imou" data-index="1"
                    class="box-quicklink__item bd-radius quicklink-logo {% if selected_brand == 'imou' %}active{% endif %}"
                    style="display: flex;">
                    <i class="quick-link-icon"></i>
                    <img src="https://cdnv2.tgdd.vn/mwg-static/common/Category/85/07/850704605834f4a8f1c52ceb17ba8f8d.png"
                        width="30" alt="icon" class="no-text" lazyloaded="">
                </a>
                <a href="/camera-giam-sat_1_1/ezviz" data-index="1"
                    class="box-quicklink__item bd-radius quicklink-logo {% if selected_brand == 'ezviz' %}active{% endif %}"
                    style="display: flex;">
                    <i class="quick-link-icon"></i>
                    <img src="https://cdnv2.tgdd.vn/mwg-static/common/Category/cf/84/cf845005d279e1cf94c4b3fb2117bbf7.png"
                        width="30" alt="icon" class="no-text" lazyloaded="">
                </a>
            </div>
        </div>
        {% elif typeinfo.ttitle == 'may-loc-nuoc' %}
        <div class="box-quicklink  block-scroll-main ">
            <div class="lst-quicklink">
                <a href="/may-loc-nuoc_1_1" data-index="1"
                    class="box-quicklink__item bd-radius quicklink-logo {% if not selected_brand %}active{% endif %}"
                    style="display: flex;">
                    <img src="/static/images/all_icon.png" width="30" alt="icon" class="no-text" lazyloaded="">
                </a>
                <a href="/may-loc-nuoc_1_1/daikiosan" data-index="1"
                    class="box-quicklink__item bd-radius quicklink-logo {% if selected_brand == 'daikiosan' %}active{% endif %}"
                    style="display: flex;">
                    <i class="quick-link-icon"></i>
                    <img src="https://vietro.com.vn/uploads/product_menu/quat-daikiosan-1638813995.png"
                        width="30" alt="icon" class="no-text" lazyloaded="">
                </a>
                <a href="/may-loc-nuoc_1_1/makano" data-index="1"
                    class="box-quicklink__item bd-radius quicklink-logo {% if selected_brand == 'makano' %}active{% endif %}"
                    style="display: flex;">
                    <i class="quick-link-icon"></i>
                    <img src="https://lh6.googleusercontent.com/proxy/b0HSkJkkCU4Tbqnvtkmpx3XrM1-CV9Ruk71bHdZZfLo8yqh3G0vsdjGrpZf6DhGDkhDjBNFhgBD1_9drF740OkEXRpUoBlgXkXFES0ymaRyzVS2wUNV6B7IOlsv7VOeQgOksEQ"
                        width="30" alt="icon" class="no-text" lazyloaded="">
                </a>
                <a href="/may-loc-nuoc_1_1/karofi" data-index="1"
                    class="box-quicklink__item bd-radius quicklink-logo {% if selected_brand == 'karofi' %}active{% endif %}"
                    style="display: flex;">
                    <i class="quick-link-icon"></i>
                    <img src="https://karofi.karofi.com/karofi-com/2023/09/logo-karofi-2023-1.png"
                        width="30" alt="icon" class="no-text" lazyloaded="">
                </a>
            </div>
        </div>
        {% elif typeinfo.ttitle == 'quat-dieu-hoa' %}
        <div class="box-quicklink  block-scroll-main ">
            <div class="lst-quicklink">
                <a href="/quat-dieu-hoa_1_1" data-index="1"
                    class="box-quicklink__item bd-radius quicklink-logo {% if not selected_brand %}active{% endif %}"
                    style="display: flex;">
                    <img src="/static/images/all_icon.png" width="30" alt="icon" class="no-text" lazyloaded="">
                </a>
                <a href="/quat-dieu-hoa_1_1/daikiosan" data-index="1"
                    class="box-quicklink__item bd-radius quicklink-logo {% if selected_brand == 'daikiosan' %}active{% endif %}"
                    style="display: flex;">
                    <i class="quick-link-icon"></i>
                    <img src="https://vietro.com.vn/uploads/product_menu/quat-daikiosan-1638813995.png"
                        width="30" alt="icon" class="no-text" lazyloaded="">
                </a>
                <a href="/quat-dieu-hoa_1_1/makano" data-index="1"
                    class="box-quicklink__item bd-radius quicklink-logo {% if selected_brand == 'makano' %}active{% endif %}"
                    style="display: flex;">
                    <i class="quick-link-icon"></i>
                    <img src="https://lh6.googleusercontent.com/proxy/b0HSkJkkCU4Tbqnvtkmpx3XrM1-CV9Ruk71bHdZZfLo8yqh3G0vsdjGrpZf6DhGDkhDjBNFhgBD1_9drF740OkEXRpUoBlgXkXFES0ymaRyzVS2wUNV6B7IOlsv7VOeQgOksEQ"
                        width="30" alt="icon" class="no-text" lazyloaded="">
                </a>
            </div>
        </div>
        {% elif typeinfo.ttitle == 'tu-lanh' %}
        <div class="box-quicklink  block-scroll-main ">
            <div class="lst-quicklink">
                <a href="/tu-lanh_1_1" data-index="1"
                    class="box-quicklink__item bd-radius quicklink-logo {% if not selected_brand %}active{% endif %}"
                    style="display: flex;">
                    <img src="/static/images/all_icon.png" width="30" alt="icon" class="no-text" lazyloaded="">
                </a>
                <a href="/tu-lanh_1_1/lg" data-index="1"
                    class="box-quicklink__item bd-radius quicklink-logo {% if selected_brand == 'lg' %}active{% endif %}"
                    style="display: flex;">
                    <i class="quick-link-icon"></i>
                    <img src="https://cdnv2.tgdd.vn/mwg-static/common/Category/b2/fc/b2fc6b8befcdfe03c16d0d4dda903092.png"
                        width="30" alt="icon" class="no-text" lazyloaded="">
                </a>
                <a href="/tu-lanh_1_1/toshiba" data-index="1"
                    class="box-quicklink__item bd-radius quicklink-logo {% if selected_brand == 'toshiba' %}active{% endif %}"
                    style="display: flex;">
                    <i class="quick-link-icon"></i>
                    <img src="https://cdnv2.tgdd.vn/mwg-static/common/Category/3f/4d/3f4d32c56fc59a12d50ef03cf0eaea6b.png"
                        width="30" alt="icon" class="no-text" lazyloaded="">
                </a>
                <a href="/tu-lanh_1_1/aqua" data-index="1"
                    class="box-quicklink__item bd-radius quicklink-logo {% if selected_brand == 'aqua' %}active{% endif %}"
                    style="display: flex;">
                    <i class="quick-link-icon"></i>
                    <img src="https://cdnv2.tgdd.vn/mwg-static/common/Category/77/70/7770c6499cb79088e8663b61bda39539.png"
                        width="30" alt="icon" class="no-text" lazyloaded="">
                </a>
            </div>
        </div>
        <div class="sort_bar">
            <a> Sắp xếp theo: </a>
            <a href="/{{ typeinfo.ttitle }}_1_1/{{ selected_brand }}" class="{% if sort == '1' %} active {% endif %}">
                Mới&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;◦
            </a>
            <a href="/{{ typeinfo.ttitle }}_1_3/{{ selected_brand }}" class="{% if sort == '3' %} active {% endif %}">
                Nổi bật&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;◦
            </a>

            <div class="dropdown">
                <button id="priceButton" class="dropbtn_price {% if sort == '2' or sort == '4' %}active{% endif %}">
                    Giá {% if sort == '2' %}↓{% elif sort == '4' %}↑{% else %} {% endif %}
                </button>
                <div class="dropdown-content-price">
                    <a href="/{{ typeinfo.ttitle }}_1_4/{{ selected_brand }}"
                        class="{% if sort == '4' %}active{% endif %}">Giá thấp -
                        cao</a>
                    <a href="/{{ typeinfo.ttitle }}_1_2/{{ selected_brand }}"
                        class="{% if sort == '2' %}active{% endif %}">Giá cao -
                        thấp</a>
                </div>
            </div>
        </div>
        {% else %}
        <div class="sort_bar">
            <a> Sắp xếp theo: </a>
            <a href="/{{ typeinfo.ttitle }}_1_1" class="{% if sort == '1' %} active {% endif %}">
                Mới&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;◦
            </a>
            <a href="/{{ typeinfo.ttitle }}_1_3" class="{% if sort == '3' %} active {% endif %}">
                Nổi bật&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;◦
            </a>

            <div class="dropdown">
                <button id="priceButton" class="dropbtn_price {% if sort == '2' or sort == '4' %}active{% endif %}">
                    Giá {% if sort == '2' %}↓{% elif sort == '4' %}↑{% else %} {% endif %}
                </button>
                <div class="dropdown-content-price">
                    <a href="/{{ typeinfo.ttitle }}_1_4" class="{% if sort == '4' %}active{% endif %}">Giá thấp -
                        cao</a>
                    <a href="/{{ typeinfo.ttitle }}_1_2" class="{% if sort == '2' %}active{% endif %}">Giá cao -
                        thấp</a>
                </div>
            </div>
        </div>
        {% endif %}

        <ul class="goods_type_list clearfix">
            {% for g in page %}
            <li>
                <a href="/{{ g.id }}/">
                    <div class="item-img">
                        <img src="{{ MEDIA_URL }}{{ g.images.all.0.image_path }}" class="img-fluid rounded"
                            onerror="this.onerror=null;this.src='https://media.istockphoto.com/id/2066398587/vector/default-paper-word-sign-with-colorful-spectrum-paint-brush-strokes-over-white.jpg?s=612x612&w=0&k=20&c=kvuJdgEka1-NLy_3IwklnChLmtPQM70oJK81g8SEmjo=';">
                    </div>
                </a>
                <h4><a href="/{{ g.id }}/">{{ g.gtitle }}</a></h4>
                <div class="operate">
                    <span class="prize" data-price="{{ g.gprice }}">{{ g.gprice }}</span>
                    <div class="price-and-discount">
                        {% if g.gprice_old %}
                        <label class="old-price" data-old-price="{{ g.gprice_old }}">{{ g.gprice_old
                            }}₫</label>
                        <small class="discount" data-old-price="{{ g.gprice_old }}"
                            data-new-price="{{ g.gprice }}"></small>
                        {% endif %}
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>

        <div class="pagenation">
            {% if page.has_previous %}
            <a href="/{{ typeinfo.ttitle }}_{{ page.previous_page_number }}_{{ sort }}">Previous page</a>
            {% endif %}

            {% for pindex in paginator.page_range %}
            {% if pindex == page.number %}
            <a href="/{{ typeinfo.ttitle }}_{{ pindex }}_{{ sort }}" class="active">{{ pindex }}</a>
            {% else %}
            <a href="/{{ typeinfo.ttitle }}_{{ pindex }}_{{ sort }}">{{ pindex }}</a>
            {% endif %}
            {% endfor %}

            {% if page.has_next %}
            <a href="/{{ typeinfo.ttitle }}_{{ page.next_page_number }}_{{ sort }}">Next Page</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock center_content %}