{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/place_order.css">

<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#btn2").click(function () {
            $("#receiver, #phone, #address").removeAttr('disabled');
        });
        $("#btn").click(function () {
            $("#receiver, #phone, #address").attr('disabled', 'disabled');
        });
        $('.col05').each(function () {
            let count = $(this).prev().text();
            let price = $(this).prev().prev().text();
            $(this).html((parseFloat(count) * parseFloat(price)).toLocaleString('de-DE') + '₫');
        });
    });


    document.addEventListener("DOMContentLoaded", function () {
        var PriceElements = document.querySelectorAll('.goods_list_td .col03');
        PriceElements.forEach(function (element) {
            var price = parseFloat(element.getAttribute('data-price'));
            element.textContent = price.toLocaleString('de-DE') + '₫';
        });
        var PriceElements = document.querySelectorAll('.total_price');
        PriceElements.forEach(function (element) {
            var price = parseFloat(element.getAttribute('data-price'));
            element.textContent = price.toLocaleString('de-DE') + '₫';
        });
    });

</script>
{% endblock %}

{% block center_body %}
<div class="MuiBox-root css-1eyujod">
    <a href='{% url "df_cart:cart" %}' class="MuiBox-root1 css-turf35"><svg fill="currentColor" width="20" height="20"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path
                d="M448 256C448 264.8 440.6 272 431.4 272H54.11l140.7 149.3c6.157 6.531 5.655 16.66-1.118 22.59C190.5 446.6 186.5 448 182.5 448c-4.505 0-9.009-1.75-12.28-5.25l-165.9-176c-5.752-6.094-5.752-15.41 0-21.5l165.9-176c6.19-6.562 16.69-7 23.45-1.094c6.773 5.938 7.275 16.06 1.118 22.59L54.11 240h377.3C440.6 240 448 247.2 448 256z">
            </path>
        </svg></a>
    <h6 class="MuiTypography-root MuiTypography-subtitle1 css-q8b90y">Xác nhận đơn hàng</h6>
</div>
<div class="common_list_con clearfix">
    <label>Địa Chỉ Nhận Hàng</label>
    <dl>
        <li>
            <p>Receiver:
                <input disabled type="text" name="receiver" class="user_info_check" value="{{ user.oreceiver }}"
                    id="receiver">
            </p>
        </li>
        <li>
            <p>Address:
                <input disabled type="text" name="fullname" class="user_info_check" value="{{ user.oaddress }}"
                    id="address">
            </p>
        </li>
        <li>
            <p>Phone: </p>
            <input disabled type="text" name="phone" class="user_info_check" value="{{ user.ocontact }}" id="phone">
        </li>
        <li class="reg_sub">
            <input type="submit" id='btn' value="Save changes">
            <button id="btn2">Change the address</button>
        </li>
    </dl>
</div>

<style>
    dl {
        margin-left: 210px;
    }
</style>

<div class="common_list_con clearfix">
    <label>Phương thức thanh toán</label>
    <div class="pay_style_con clearfix">
        <div class="method_payment">
            <input type="radio" name="pay_style" checked>
            <label class="Credit_Card">Thanh toán khi nhận hàng</label>
        </div>
        <div class="method_payment">
            <input type="radio" name="pay_style">
            <label class="Paypal">Chuyển khoản ngân hàng</label>
        </div>
    </div>
</div>

<div class="common_list_con clearfix">
    <ul class="goods_list_th clearfix">
        <li class="col01">No</li>
        <li class="col02">Sản phẩm</li>
        <li class="col03">Đơn giá</li>
        <li class="col04">Số lượng</li>
        <li class="col05_label">Số tiền</li>
    </ul>
    {% for cart in carts %}
    <ul class="goods_list_td clearfix" id="{{ cart.id }}">
        <li class="col01">{{ forloop.counter }}</li>
        <li class="col02"><img src="{{ MEDIA_URL }}{{ cart.goods.images.all.0.image_path }}"></li>
        <li class="col02_title">
            <p>{{ cart.goods.gtitle }}</p>
        </li>
        <li class="col03" data-price="{{ cart.goods.gprice }}">{{ cart.goods.gprice }}</li>
        <li class="col03_cal">{{ cart.goods.gprice }}</li>
        <li class="col04">{{ cart.count }}</li>
        <li class="col05"></li>
    </ul>
    {% endfor %}
    <div class="total_goods_count">
        Total<em>{{ carts|length }}</em> product(s), subtotal:
        <b class="total_price" data-price="{{ total_price }}">{{ total_price }}</b>
    </div>
    <div class="submit_order">
        <a href="javascript:;" id="order_btn">Đặt hàng</a>
    </div>
</div>

<!-- <div class="common_list_con clearfix">
    <div class="settle_con">
        <div class="total_goods_count">
            Total<em>{{ carts|length }}</em> product(s), subtotal:
            <b class="total_price" data-price="{{ total_price }}">{{ total_price }}</b>
        </div>
        <div class="transit">Shipping: <b>{{ trans_cost }}</b></div>
        <div class="total_pay">Total: <b>{{ total_trans_price }}</b></div>
    </div>
</div> -->


<div class="popup_con">
    <div class="popup">
        <p>Successfully placed the order!</p>
    </div>
    <div class="mask"></div>
</div>

<script type="text/javascript">
    $('#order_btn').click(function () {
        let number = 0;
        $('.user_info_check').each(function () {
            if ($(this).val() == '') {
                number = 1;
            }
        });
        if (number == 1) {
            alert('Please input the correct address');
            window.location.href = '{% url "df_user:site" %}';
        } else {
            let receiver = $("#receiver").val();
            let address = $("#address").val();
            let contact = $("#phone").val();
            let cartids = '';

            $('.goods_list_td').each(function () {
                cartids += $(this).attr('id') + ',';
            });

            cartids = cartids.slice(0, -1);

            let data = {
                'cart_ids': cartids,
                'total': {{ total_trans_price }
        },
        'address': address,
            'receiver': receiver,
                'contact': contact,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
    };

    $.post('/order/push/', data, function (response) {
        if (response.ok == 1) {
            localStorage.setItem('order_finish', 2);
            $('.popup_con').fadeIn('fast', function () {
                setTimeout(function () {
                    $('.popup_con').fadeOut('fast', function () {
                        window.location.href = '{% url "df_user:order" 1 %}';
                    });
                }, 1000);
            });
        } else {
            alert('Place the order failed');
        }
    });
    }
});
</script>

{% endblock center_body %}