.description {
	width: 500px;
	height: 40px;
	margin-top: 5px;
}

.product_type {
	float:left;
	margin-top: 10px;
    height: 35px;
}

.button_type {
    margin-left: 5px;
    margin-top: 7px;
    height: 42px;
    border-radius: 8px;
}