/* Product Detail */
.goods_detail_con {
    display: flex;
    width: 100%;
    border: 1px solid #ededed;
    margin: 10px auto;
    background-color: white;
    border-radius: 10px;
}

.goods_detail_pic {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    height: 385px;
    width: 680px;
}

.goods_detail_pic img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.swiper-container {
    width: 100%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    touch-action: pan-y;
}

.swiper-slide img {
    width: auto;
    height: 370px;
}

.swiper-slide img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.goods_detail_list {
    display: flex;
    padding: 20px;
    margin: auto 0 auto auto;
    flex-direction: column;
    gap: 20px;
}

.goods_detail_list h3 {
    font-size: 20px;
    line-height: 24px;
    color: #666;
    font-weight: 500;
}

.goods_detail_list p {
    color: #666;
    margin-bottom: 0;
}

.prize_bar {
    height: 66px;
    background-color: #8aa5a721;
    line-height: 66px;
}

.prize_bar .show_pirze {
    font-size: 22px;
    color: #ff3e3e;
    padding-left: 20px
}

.prize_bar .old-price {
    color: #666;
    font-size: 16px;
    text-decoration-line: line-through;
}

.prize_bar .discount {
    color: #d92d20;
    font-size: 16px;
}

.goods_num {
    display: flex;
    margin-top: 19px;
}

.goods_num .num_name {
    width: 90px;
    height: 32px;
    line-height: 32px;
    color: #757575;
}

.goods_num .num_add {
    width: 114px;
    height: 32px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    display: flex;
}

.goods_num .num_add input {
    width: 50px;
    text-align: center;
    line-height: 50px;
    border: 0px;
    outline: none;
    font-size: 18px;
    color: #666;
}

.goods_num .num_add .add {
    width: 32px;
    line-height: 32px;
    text-align: center;
    border-left: 1px solid #ddd;
    color: #666;
    font-size: 14px;
    text-decoration: none;
}

.goods_num .num_add .minus {
    width: 32px;
    line-height: 32px;
    text-align: center;
    border-right: 1px solid #ddd;
    color: #666;
    font-size: 14px;
    text-decoration: none;
    border-bottom: 0px;
    text-decoration: none;
}

.goods_num .show_unit {
    padding-left: 20px;
    line-height: 32px;
    color: #757575;
}

.total {
    height: 35px;
    line-height: 35px;
    color: #757575;
}

.total em {
    font-style: normal;
    color: #ff3e3e;
    font-size: 18px
}

.operate_btn .buy_btn {
    display: inline-block;
    width: 190px;
    height: 50px;
    color: white;
    line-height: 38px;
    text-align: center;
    background-color: #fc7600;
    text-decoration: none;
    border-radius: 8px;
    font: 15px/50px Arial, Helvetica, sans-serif;
    margin-left: 10px;
}

.operate_btn .add_cart {
    display: inline-block;
    width: 190px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    font: 15px/50px Arial, Helvetica, sans-serif;
    border: 1px solid #000afc;
}


.main_wrap {
    display: flex;
    width: 100%;
    margin: 0 auto 20px;
}

.l_wrap {
    width: 72%;
    background-color: white;
    border-radius: 10px;
    margin-right: 10px;
}

.r_wrap {
    width: 42%;
    background-color: white;
    border-radius: 10px;
}

.l_wrap .nav,
.r_wrap .nav {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
}

.add_jump {
    width: 20px;
    height: 20px;
    background-color: #c40000;
    position: absolute;
    left: 268px;
    top: 10px;
    border-radius: 50%;
    z-index: 9;
    display: none;
}

.detail_tab {
    height: 35px;
    border-bottom: 1px solid black
}

.detail_tab li {
    height: 34px;
    line-height: 34px;
    padding: 0 30px;
    font-size: 14px;
    color: #333333;
    float: left;
    border: 1px solid #e8e8e8;
    border-bottom: 0px;
    cursor: pointer;
    background-color: #faf8f8
}

.detail_tab li.active {
    border-top: 6px solid black;
    position: relative;
    border-left: 1px solid black;
    border-right: 1px solid black;
    height: 35px;
}

.tab_content dt {
    margin: 10px;
    font-size: 16px;
    color: #044d39
}

.tab_content dd {
    line-height: 24px;
    margin: 10px;
}

.goods_attr {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    background-color: #f9f9f9;
    font-size: 14px;
    color: #333;
}

.swiper-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
}

.swiper-slide {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.swiper-image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    touch-action: none;
}

.swiper-container .swiper-button-next,
.swiper-container .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 60px;
    background: rgba(255, 255, 255, 0.9);
    color: #b5b5b5;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transform: translateY(-50%);
}

.swiper-container .swiper-button-next {
    right: 0px;
}

.swiper-container .swiper-button-prev {
    left: 0px;
}

.swiper-container .swiper-button-prev:after,
.swiper-container .swiper-button-next:after {
    zoom: 0.6;
}

.swiper-container .swiper-pagination {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

/*pswp */
.pswp__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* YouTube Icon */
.youtube-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: red;
    pointer-events: none; /* Prevent interaction with the icon */
}

.youtube-icon i {
    font-size: inherit;
}

.modal, .modal-open {
    padding-right: 0 !important;
}

.modal-body {
    padding: 0;
    height: 830px; /* Ensure the modal body occupies full height */
}

/* New Product */
.new_goods {
    border-radius: 10px;
    background-color: white;
}

.new_goods h3 {
    height: 33px;
    line-height: 33px;
    background-color: #fcfcfc;
    border-bottom: 1px solid #ededed;
    font-size: 14px;
    font-weight: normal;
    text-indent: 10px;
}

.new_goods ul {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0 !important;
}

.new_goods li {
    border: 1px solid #ededed;
    margin: 10px;
    border-radius: 10px;
}

.new_goods li img {
    display: block;
    margin: 10px auto;
    height: 100px;
}

.new_goods li h4 {
    width: 160px;
    margin: 0 auto;
}

.new_goods li h4 a {
    color: #666;
    text-decoration: none;
    font: 14px / 22px Arial, Helvetica, sans-serif
}

.new_goods li .prize {
    font-size: 14px;
    color: #da260e;
    margin: 10px auto;
}

.option a:last-child {
    text-decoration: none;
}

/* Tùy chỉnh màu sắc và viền cho các tab */
.nav-tabs .nav-link {
    color: #555;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.nav-tabs .nav-link:hover {
    border-color: #e9ecef #e9ecef #dee2e6;
}

.nav-tabs .nav-link.active {
    color: #0d6efd;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.tab-content>.tab-pane {
    padding: 0 15px;
}

.tab-content>.tab-pane img {
    width: 100% !important;
    height: auto !important;
}

.tab-pane iframe {
    width: 100% !important;
    height: revert-layer !important;
}

.tab-content>.tab-pane a {
    text-decoration: none;
}

/* Modal Styles */
.modal-lg {
    max-width: 100%;
}

.modal-body iframe {
    border: none;
}

/* Responsive */
@media (max-width: 431px) {
    .goods_detail_con {
        display: block;
        padding: 5px;
    }
    
    .goods_detail_pic {
        width: 100%;
    }

    .modal-body {
        padding: 0;
        height: 500px
    }
    
    .goods_num {
        font-size: 14px;
        justify-content: center;
    }

    .goods_num .num_add {
        justify-content: space-around;
    }

    .goods_num .num_add input {
        border: 1px solid #dddddd;
        border-radius: 0px;
    }

    .operate_btn {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-around;
    }

    .main_wrap {
        display: block;
    }

    .l_wrap {
        width: 100%;
    }

    .r_wrap {
        width: auto;
    }

    .goods_detail_list {
        padding: 5px;
    }

    .search_con {
        display: flex;
    }

    .fr {
        float: none;
    }
}

@media (max-width: 400px) {
    .goods_detail_con {
        display: block;
        padding: 5px;
    }