{% extends 'base.html' %}

{% block center_body %}
<script type="text/javascript">
    {% if success %}
        alert("Product saved successfully!");
        window.location.href = "{% url 'df_user:add_product' %}";
    {% endif %}
</script>

<div class="main_con clearfix">
    <div class="left_menu_con clearfix">
        <h3>User Center</h3>
        <ul>
            <li><a href="{% url "df_user:info" %}">· Personal Information</a></li>
            <li><a href="/user/order/1">· Order History</a></li>
            <li><a href="{% url "df_user:site" %}">· Change the Password</a></li>
            <li><a href="{% url "df_user:add_product" %}" class="active">· Add Products</a></li>
            <li><a href="{% url "df_user:edit_product" %}">· Edit Products</a></li>
        </ul>
    </div>
    <div class="right_content clearfix">
        <h3 class="common_title2">Add Product</h3>
		<div class="site_con">
            <form action="{% url "df_user:add_product_handle" %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                
                <div class="form_group">
                    <label>Product Name:</label>
                    <input type="text" name="product_name" value="{{ product.product_name|default:'' }}" required>
                </div>
                
                <div class="form_group">
                    <label for="product_type">Product Type:</label>
                    <select id="product_type" name="product_type">
                      {% for type in types %}
                          <option value="{{ type.id }}" {% if product and type.id == product.gtype.id %}selected{% endif %}>{{ type.ttitle }}</option>
                      {% endfor %}
                    </select>
                </div>

                <div class="form_group">
                    <label>Price:</label>
                    <input type="number" name="price" step="0.01" value="{{ product.price|default:'' }}" required>
                </div>
                
                <div class="form_group">
                    <label>Description:</label>
                    <textarea name="description" required>{{ product.description|default:'' }}</textarea>
                </div>
                
                <div class="form_group">
                    <label>Stock Quantity:</label>
                    <input type="number" name="stock" value="{{ product.stock|default:'' }}" required>
                </div>
                
                <div class="form_group">
                    <label>Product Image:</label>
                    <input type="file" name="image">
                </div>
                
                <input type="submit" value="Save Product" class="info_submit">
            </form>
        </div>
    </div>
</div>

{% endblock center_body %}
