<!--view the order history-->
{% extends 'base.html' %}

{% block center_body %}
<link rel="stylesheet" type="text/css" href="/static/css/order_history.css">

<div class="main_con clearfix">
	<div class="left_menu_con clearfix">
		<h3>User Center</h3>
		<ul class="menu-list">
			<li><a href='{% url "df_user:info" %}'>· Personal Information</a></li>
			<li><a href='{% url "df_user:order" 1 %}' class="active">· Order History</a></li>
			<li><a href='{% url "df_user:site" %}'>· Change the Password</a></li>
            {% if request.session.is_admin %}
            <li><a href='{% url "df_user:add_product" %}'>· Add Products</a></li>
            <li><a href='{% url "df_user:edit_product" %}'>· Edit Products</a></li>
            <li><a href='{% url "df_user:manage_type" %}'>· Manage Category</a></li>
            {% endif %}
		</ul>
	</div>
	<div class="right_content clearfix">
		<h3 class="common_title2 order-history-title">Lịch sử mua hàng</h3>
		{% for orderinfo in page %}
		<ul class="order_list_th w978 clearfix order-header">
			<h3>Thông tin đơn hàng</h3>
			<div class="order-header-title">
				<p>{{ orderinfo.odate|date }}</p>
				{% if orderinfo.oIsDelivery %}
				<p class="col02 stress order-status">Đã giao hàng</p>
				{% else %}
				<p class="col02 stress order-status">Chưa giao hàng</p>
				{% endif %}
				{% if orderinfo.oIsPay %}
				<p class="col03 stress payment-status">Đã thanh toán</p>
				{% else %}
				<p class="col03 stress payment-status">Chưa thanh toán</p>
				{% endif %}
			</div>
			<h4>Địa chỉ giao hàng</h4>
			<div class="order-info">
				<div class="order-title">
					<p>{{ orderinfo.oreceiver }}</p>
					<p class="phone_info">{{ orderinfo.ocontact }}</p>
				</div>
				<div class="order-address">
					<p>{{ orderinfo.oaddress }}</p>
				</div>
			</div>
			<h5>Mã đơn hàng: {{ orderinfo.oid }}</h5>
			<table class="order_list_table w980 order-table">
				<tbody>
					<tr>
						<td width="55%" class="order-items">
							<ul class="goods_list_th clearfix">
								<li class="col02">Sản phẩm</li>
								<li class="col04">Số lượng</li>
								<li class="col03">Đơn giá</li>
							</ul>
							{% for order_detail in orderinfo.orderdetailinfo_set.all %}
							<ul class="order_goods_list clearfix order-item">
								<li class="col01 item-image">
									<img src="{{ MEDIA_URL }}{{ order_detail.goods.images.all.0.image_path }}"
										alt="{{ order_detail.goods.gtitle }}"
										onerror="this.onerror=null;this.src='https://media.istockphoto.com/id/2066398587/vector/default-paper-word-sign-with-colorful-spectrum-paint-brush-strokes-over-white.jpg?s=612x612&w=0&k=20&c=kvuJdgEka1-NLy_3IwklnChLmtPQM70oJK81g8SEmjo=';">
								</li>
								<li class="col02 item-title">{{ order_detail.goods.gtitle }}</li>
								<li class="col03 item-quantity">{{ order_detail.count }}</li>
								<li class="col04 item-price" data-price="{{ order_detail.goods.gprice }}">{{ order_detail.goods.gprice }}₫</li>
							</ul>
							{% endfor %}
						</td>
					</tr>
				</tbody>
			</table>

			<div class="order_total_info">
				<p>Thành tiền: </p>
				<p class="order_total" data-price="{{ orderinfo.ototal }}"> {{ orderinfo.ototal }}₫</p>
			</div>
		</ul>

		{% endfor %}

		<div class="pagenation pagination-container">
			{% if page.has_previous %}
			<a href='{% url "df_user:order" page.previous_page_number %}'>Trước</a>
			{% endif %}

			{% for index in paginator.page_range %}
			{% if index == page.number %}
			<a href=' {% url "df_user:order" index %}' class="active">{{ index }}</a>
			{% else %}
			<a href='{% url "df_user:order" index %}'>{{ index }}</a>
			{% endif %}
			{% endfor %}

			{% if page.has_next %}
			<a href=' {% url "df_user:order" page.next_page_number %}'>Sau></a>
			{% endif %}
		</div>
	</div>
</div>

{% endblock center_body %}