{% extends 'base.html' %}

{% block center_body %}
{% if request.session.is_admin %}
<link rel="stylesheet" type="text/css" href="/static/css/add.css">
<script type="text/javascript">
    {% if success %}
    alert("Category saved successfully!");
    window.location.href = "{% url 'df_user:manage_type' %}";
    {% endif %}
    {% if error %}
    alert("{{ error }}");
    {% endif %}

    function addNewType() {
        var newType = document.querySelector('input[name="new_product_type"]').value;
        var newTypeName = document.querySelector('input[name="new_product_type_name"]').value;

        var form = document.createElement('form');
        form.method = 'POST';
        form.action = "{% url 'df_user:add_new_type' %}";
        var csrfToken = document.createElement('input');
        csrfToken.type = 'hidden';
        csrfToken.name = 'csrfmiddlewaretoken';
        csrfToken.value = '{{ csrf_token }}';
        form.appendChild(csrfToken);

        var newTypeInput = document.createElement('input');
        newTypeInput.type = 'hidden';
        newTypeInput.name = 'new_product_type';
        newTypeInput.value = newType;
        form.appendChild(newTypeInput);

        var newTypeNameInput = document.createElement('input');
        newTypeNameInput.type = 'hidden';
        newTypeNameInput.name = 'new_product_type_name';
        newTypeNameInput.value = newTypeName;
        form.appendChild(newTypeNameInput);

        document.body.appendChild(form);
        form.submit();
    }

    function editType() {
        var oldType = document.querySelector('input[name="product_type_old"]').value;
        var newType = document.querySelector('input[name="product_type_new"]').value;

        var form = document.createElement('form');
        form.method = 'POST';
        form.action = "{% url 'df_user:edit_type' %}";

        var csrfToken = document.createElement('input');
        csrfToken.type = 'hidden';
        csrfToken.name = 'csrfmiddlewaretoken';
        csrfToken.value = '{{ csrf_token }}';
        form.appendChild(csrfToken);

        var oldTypeInput = document.createElement('input');
        oldTypeInput.type = 'hidden';
        oldTypeInput.name = 'product_type_old';
        oldTypeInput.value = oldType;
        form.appendChild(oldTypeInput);

        var newTypeInput = document.createElement('input');
        newTypeInput.type = 'hidden';
        newTypeInput.name = 'product_type_new';
        newTypeInput.value = newType;
        form.appendChild(newTypeInput);

        document.body.appendChild(form);
        form.submit();
    }

    function deleteType() {
        var newType = document.querySelector('input[name="product_type_delete"]').value;
        var form = document.createElement('form');
        form.method = 'POST';
        form.action = "{% url 'df_user:delete_type' %}";
        var csrfToken = document.createElement('input');
        csrfToken.type = 'hidden';
        csrfToken.name = 'csrfmiddlewaretoken';
        csrfToken.value = '{{ csrf_token }}';
        form.appendChild(csrfToken);
        var input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'product_type_delete';
        input.value = newType;
        form.appendChild(input);
        document.body.appendChild(form);
        form.submit();
    }
</script>

<div class="main_con clearfix">
    <div class="left_menu_con clearfix">
        <h3>User Center</h3>
        <ul>
            <li><a href="{% url 'df_user:info' %}">· Personal Information</a></li>
            <li><a href="/user/order/1">· Order History</a></li>
            <li><a href="{% url 'df_user:site' %}">· Change the Password</a></li>
            <li><a href="{% url 'df_user:add_product' %}">· Add Products</a></li>
            <li><a href="{% url 'df_user:edit_product' %}">· Edit Products</a></li>
            <li><a href="{% url 'df_user:manage_type' %}" class="active">· Manage Category</a></li>
        </ul>
    </div>
    <div class="right_content clearfix">
        <h3 class="common_title2">Mangage categories</h3>
        <div class="site_con">
            <form action="{% url 'df_user:add_new_type' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form_group">
                    <label for="new_product_type">Add category:</label>
                    <input class="input_type_add" type="text" name="new_product_type" placeholder="Enter new category">
                    <input class="input_type_add" type="text" name="new_product_type_name"
                        placeholder="Enter new category name">
                    <button class="button_type" type="button" onclick="addNewType()">Submit</button>
                </div>

                <div class="form_group">
                    <label for="product_type_edit">Edit category:</label>
                    <input class="input_type_edit" type="text" name="product_type_old" placeholder="Enter old category">
                    <input class="input_type_edit" type="text" name="product_type_new" placeholder="Enter new category">
                    <button class="button_type" type="button" onclick="editType()">Submit</button>
                </div>

                <div class="form_group">
                    <label for="product_type_delete"> Delete category:</label>
                    <input class="input_type" type="text" name="product_type_delete"
                        placeholder="Enter category to delete">
                    <button class="button_type" type="button" onclick="deleteType()">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% else %}
<p>You do not have permission to access this page.</p>
{% endif %}
{% endblock center_body %}