{% extends 'base.html' %}

{% block center_body %}
<script type="text/javascript" src="/static/js/user_info.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/user_info.css">

<div class="main_con clearfix">
    <div class="left_menu_con clearfix">
        <h3>User Center</h3>
        <ul>
            <li><a href='{% url "df_user:info" %}' class="active">· Personal Information</a></li>
            <li><a href='/user/order/1'>· Order History</a></li>
            <li><a href='{% url "df_user:site" %}'>· Change the Password</a></li>
            <li><a href='{% url "df_user:add_product" %}'>· Add Products</a></li> <!-- New button -->
            <li><a href='{% url "df_user:edit_product" %}'>· Edit Products</a></li>
            <li><a href='{% url "df_user:manage_type" %}'>· Manage Category</a></li>
        </ul>
    </div>
    <div class="right_content clearfix">
        <div class="info_con clearfix">
            <h3 class="common_title2">THÔNG TIN CÁ NHÂN</h3>
            <div class="profile_main">
                <div class="profile-info">
                    <p> Chào {{ user_full_name}} - {{user_phone}} </p>
                    <a href="javascript:void(0);" id="profile-edit">
                        <i class="fa fa-edit"></i>
                        <span>Sửa</span>
                    </a>
                </div>
                <form action='{% url "df_user:info_reset" %}' id='reg_form' method="post" style="display: none;">
                    {% csrf_token %}
                    <ul class="user_info_list">
                        <li><span>Tên đăng nhập:</span>{{ user_name }}</li>
                        <li><span>Họ & Tên:</span>
                            <input type="text" name="fullname" class="contact-info" value="{{ user_full_name}}">
                        </li>
                        <li><span>Số điện thoại:</span>
                            <input type="text" name="phone" class="contact-info" value="{{user_phone}}">
                        </li>
                    </ul>
                    <ul class="reg_sub">
                        <a href="javascript:void(0);" id="cancel-edit"> Hủy </a>
                        <input type="submit" value="Lưu">
                    </ul>
                </form>
            </div>

            <h3 class="common_title2">ĐỊA CHỈ NHẬN HÀNG</h3>
            <div class="address-general">
                <div class="address-area">
                    <div class="address-info">
                        {% if address_list %}
                        {% if address_list|length > 0 %}
                        {% for address in address_list %}
                        <div class="address-detail-element">
                            <span class="address-detail line">
                                <div class="address-detail-info">
                                    <p id="{{address.id}}">{{ address.uaddress_detail }}, {{ address.ucommune }}, {{ address.udistrict }},
                                        {{ address.uprovince }}</p>
                                    {% if address.default_address_flg %}
                                    <em>Địa chỉ mặc định</em>
                                    {% endif %}
                                </div>
                                <div class="address-detail-operate">
                                    <a href="javascript:void(0);" id="address-edit">
                                        <i class="fa fa-edit"></i>
                                        <span> Sửa </span>
                                    </a>
                                    {% if not address.default_address_flg %}
                                    <a href="javascript:void(0);" id="address-delete">
                                        <i class="fa fa-trash-alt"></i>
                                        <span> Xóa </span>
                                    </a>
                                    {% endif %}
                                </div>
                            </span>
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endif %}
                        <a href="javascript:void(0);" id="address-insert" class="add-icon">
                            <i class="fa fa-add"></i>
                            <span> Thêm địa chỉ nhận hàng</span>
                        </a>
                    </div>
                    <div class="popup-overlay" id="popup-overlay"></div>
                    <div class="popup-insert" id="popup">
                        <form action='{% url "df_user:insert_user_address" %}' id='insert_address_form' method="post">
                            {% csrf_token %}
                            <ul class="insert_user_address">
                                <div>
                                    <span>Tỉnh/ Thành phố: </span>
                                    <select name="province" id="province" class="contact" required>
                                        <option value="">Chọn Tỉnh</option>
                                    </select>
                                </div>
                                <input type="hidden" id="province_name" name="province_name">
                                <div>
                                    <span>Quận/ Huyện: </span>
                                    <select name="district" id="district" class="contact" required>
                                        <option value="">Chọn Huyện</option>
                                    </select>
                                </div>
                                <input type="hidden" id="district_name" name="district_name">
                                <div>
                                    <span>Phường/ Xã: </span>
                                    <select name="commune" id="commune" class="contact" required>
                                        <option value="">Chọn Xã</option>
                                    </select>
                                </div>
                                <input type="hidden" id="commune_name" name="commune_name">
                                <div>
                                    <span>Địa chỉ cụ thể: </span>
                                    <input type="text" name="address" class="contact" placeholder=" Số Nhà, Tên Đường"
                                        required>
                                </div>
                                <span class="check-default">
                                    <input type="checkbox" id="is_default" name="is_default">
                                    <label for="is_default">Đặt làm địa chỉ mặc định</label>
                                </span>
                            </ul>
                            <ul class="insertAddress-btn">
                                <input type="submit" class="confirm" id="confirm-address" value="Xác nhận">
                                <a href="javascript:void(0);" class="cancel" id="cancel-address"> Hủy </a>
                            </ul>
                        </form>
                    </div>
                    <div class="popup-edit" id="edit-popup">
                        <form action='{% url "df_user:edit_user_address" %}' id='edit_address_form' method="post">
                            {% csrf_token %}
                            <ul class="edit_user_address">
                                <div>
                                    <span>Tỉnh/ Thành phố: </span>
                                    <select name="province" id="edit_province" class="contact" required>
                                        <option value="">Chọn Tỉnh</option>
                                    </select>
                                </div>
                                <input type="hidden" id="edit_province_name" name="province_name">
                                <div>
                                    <span>Quận/ Huyện: </span>
                                    <select name="district" id="edit_district" class="contact" required>
                                        <option value="">Chọn Huyện</option>
                                    </select>
                                </div>
                                <input type="hidden" id="edit_district_name" name="district_name">
                                <div>
                                    <span>Phường/ Xã: </span>
                                    <select name="commune" id="edit_commune" class="contact" required>
                                        <option value="">Chọn Xã</option>
                                    </select>
                                </div>
                                <input type="hidden" id="edit_commune_name" name="commune_name">
                                <div>
                                    <span>Địa chỉ cụ thể: </span>
                                    <input type="text" name="address-detail" class="contact" placeholder=" Số Nhà, Tên Đường"
                                        required>
                                </div>
                                <span class="check-default">
                                    <input type="checkbox" id="edit_is_default" name="is_default">
                                    <label for="edit_is_default">Đặt làm địa chỉ mặc định</label>
                                </span>
                            </ul>
                            <ul class="updateAddress-btn">
                                <input type="submit" class="confirm" id="confirm-edit-address" value="Xác nhận">
                                <a href="javascript:void(0);" class="cancel" id="cancel-edit-address"> Hủy </a>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="common_title2">View History</h3>

        <div class="has_view_list">
            <ul class="goods_type_list clearfix">
                {% if goods_list %}
                {% for good in goods_list %}
                <li>
                    <a href="/{{ good.id }}/">
                        {% if good.images.exists %}
                        <img src="{{ MEDIA_URL }}{{ good.images.first.image_path }}" loading="lazy"
                            onerror="this.onerror=null;this.src='https://media.istockphoto.com/id/2066398587/vector/default-paper-word-sign-with-colorful-spectrum-paint-brush-strokes-over-white.jpg?s=612x612&w=0&k=20&c=kvuJdgEka1-NLy_3IwklnChLmtPQM70oJK81g8SEmjo=';">
                        {% else %}
                        <img src="https://media.istockphoto.com/id/2066398587/vector/default-paper-word-sign-with-colorful-spectrum-paint-brush-strokes-over-white.jpg?s=612x612&w=0&k=20&c=kvuJdgEka1-NLy_3IwklnChLmtPQM70oJK81g8SEmjo="
                            alt="Default Img">
                        {% endif %}
                    </a>
                    <h4><a href="/{{ good.id }}/">{{ good.gtitle }}</a></h4>
                    <div class="operate">
                        <span class="prize" data-price="{{ good.gprice }}">${{ good.gprice }}</span>
                        <a href="/cart/add{{ good.id }}_1/" class="add_goods" title="add to cart"></a>
                    </div>
                </li>
                {% endfor %}
                {% else %}
                <p>No viewed products available.</p>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock center_body %}