<head>
	<title> Điện Thanh Liêm | {{ title }} </title>
	<link rel="icon" type="image/png" href="/static/images/favicon/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/svg+xml" href="/static/images/favicon/favicon.svg" />
	<link rel="shortcut icon" href="/static/images/favicon/favicon.ico" />
	<link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon/apple-touch-icon.png" />
	<meta name="apple-mobile-web-app-title" content="MyWebSite" />

	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<link rel="stylesheet" type="text/css" href="/static/css/add.css">
	<link rel="stylesheet" type="text/css" href="/static/css/base.css">
	<link rel="stylesheet" type="text/css" href="/static/css/change_pw.css">

	<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="/static/js/register.js"></script>
	<script type="text/javascript">
		document.addEventListener("DOMContentLoaded", function () {
			var priceElements = document.querySelectorAll('.prize');
			priceElements.forEach(function (element) {
				var price = parseFloat(element.getAttribute('data-price'));
				element.textContent = price.toLocaleString('de-DE') + '₫';
			});
			var oldPriceElements = document.querySelectorAll('.old-price');
			oldPriceElements.forEach(function (element) {
				var oldPrice = parseFloat(element.getAttribute('data-old-price'));
				element.textContent = oldPrice.toLocaleString('de-DE') + '₫';
			});
			var PriceElements = document.querySelectorAll('.col05');
			PriceElements.forEach(function (element) {
				var oldPrice = parseFloat(element.getAttribute('data-price'));
				element.textContent = oldPrice.toLocaleString('de-DE') + '₫';
			});
		});
	</script>
	{% block head %}{% endblock head %}
</head>

<body>
	{##}
	{% block body %}
	{##}
	{% endblock body %}
	{##}
	{# <div class="footer no-mp">#}
		{#<div class="foot_link">#}

</body>

</html>