<head>
	<title>{{ title }} | Buff Shop</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<link rel="stylesheet" type="text/css" href="/static/css/add.css">
	<link rel="stylesheet" type="text/css" href="/static/css/base.css">
	<link rel="stylesheet" type="text/css" href="/static/css/change_pw.css">

	<script type="text/javascript" src="/static/js/register.js"></script>
	<script type="text/javascript">
		document.addEventListener("DOMContentLoaded", function () {
			var priceElements = document.querySelectorAll('.prize');
			priceElements.forEach(function (element) {
				var price = parseFloat(element.getAttribute('data-price'));
				element.textContent = price.toLocaleString('de-DE') + '₫';
			});
		});
	</script>
	{% block head %}{% endblock head %}
</head>

<body>
	{##}
	{% block body %}
	{##}
	{% endblock body %}
	{##}
	{# <div class="footer no-mp">#}
		{#<div class="foot_link">#}

</body>

</html>