<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Cửa hàng Điện Thanh Liêm - Chuyên cung cấp thiết bị điện chất lượng tại Bình Định.">
	<meta name="keywords" content="Điện Thanh Liêm, thiết bị điện, điện gia dụng, Bình Định">
	<meta name="author" content="TrucNV">
	<meta charset="utf-8">
	<meta name="robots" content="index, follow">
	<meta name="googlebot" content="index, follow">
	<meta http-equiv="content-language" content="vi">
	<meta name="og:locale" content="vi_VN">
	<meta property="og:title" content="Điện Thanh Liêm - Cửa hàng thiết bị điện tại Bình Định">
	<meta property="og:description" content="Chuyên cung cấp thiết bị điện chất lượng tại Bình Định.">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://dienthanhliem.vn">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="Điện Thanh Liêm">
	<meta name="twitter:description" content="Chuyên cung cấp thiết bị điện chất lượng tại Bình Định.">
	<meta name="twitter:image" content="/static/images/favicon/apple-touch-icon.png">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	
	<title> Điện Thanh Liêm | {{ title }} </title>
	<link rel="icon" type="image/png" href="/static/images/favicon/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/svg+xml" href="/static/images/favicon/favicon.svg" />
	<link rel="shortcut icon" href="/static/images/favicon/favicon.ico" />
	<link rel="icon" href="/static/images/favicon/favicon.ico" sizes="any">
	<link rel="apple-touch-icon" href="/static/images/favicon/apple-touch-icon.png">
	<meta name="apple-mobile-web-app-title" content="MyWebSite" />

	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<link rel="stylesheet" type="text/css" href="/static/css/base.css">
	<link rel="stylesheet" type="text/css" href="/static/css/change_pw.css">
	<link rel="stylesheet" type="text/css" href="/static/css/footer.css">

	<script src="https://code.jquery.com/jquery-3.6.4.min.js" crossorigin="anonymous" defer></script>
	<script type="application/ld+json">
		{
			"@context": "https://schema.org",
			"@type": "Store",
			"name": "Điện Thanh Liêm",
			"image": "https://dienthanhliem.vn/static/images/logo.png",
			"telephone": "0334 676 226",
			"address": {
			  "@type": "PostalAddress",
			  "streetAddress": "98 - 100 ĐT639B, Nhơn Lộc, An Nhơn",
			  "addressRegion": "Bình Định",
			  "addressCountry": "VN"
			},
			"openingHours": "Thứ 2 - Chủ Nhật 05:00-22:00",
			"aggregateRating": {
			  "@type": "AggregateRating",
			  "ratingValue": "4.8",
			  "reviewCount": "150"
			}
		  }
		  
	</script>
		
	<script type="text/javascript" src="/static/js/register.js" defer></script>
	<script type="text/javascript">
		document.addEventListener("DOMContentLoaded", function () {
			document.querySelectorAll('.prize, .old-price, .col05, .order_total, .item-price').forEach(function (element) {
				var priceAttr = element.getAttribute('data-price') || element.getAttribute('data-old-price');
				if (priceAttr) {
					var price = parseFloat(priceAttr.replace(/,/g, '')); // Loại bỏ dấu phẩy nếu có
					if (!isNaN(price)) {
						element.textContent = price.toLocaleString('vi-VN') + '₫';
					}
				}
			});
		});
	</script>
	{% block head %}{% endblock head %}
</head>

<body>
	{##}
	{% block body %}
	{##}
	{% endblock body %}
	{##}
	{# <div class="footer no-mp">#}
		{#<div class="foot_link">#}
			<footer class="footer">
				<div class="footer-content">
					<div class="footer-section">
						<h3>ĐIỆN THANH LIÊM</h3>
						<p>0334 676 226</p>
					</div>
					<div class="footer-section">
						<h3>Địa chỉ cửa hàng:</h3>
						<p>98 - 100 ĐT639B, Nhơn Lộc, An Nhơn, Bình Định</p>
					</div>
					<div class="f-social">
						<a href="https://www.facebook.com/CHDienThanhLiem" class="link-fb">
							<i class="icon-facebook"></i>
							<p>Điện Thanh Liêm</p>
						</a>
						<a rel="nofollow" target="_blank" class="imgzalo" alt="Zalo hỗ trợ Điện Thanh Liêm">
							<img src="https://cdnv2.tgdd.vn/webmwg/2024/ContentMwg/images/icon_zalo.png" alt="zalo" width="18" height="18" loading="lazy">
							<p>0334 676 226</p>
						</a>
					</div>
					<div class="footer-section">
						<p>© 2025 dienthanhliem</p>
						<!-- <p>
							<img src="ministry-logo.png" alt="Ministry of Industry and Trade Logo" class="logo">
						</p> -->
						<p>Powered by <strong>TrucNV</strong></p>
					</div>
				</div>
			</footer>
</body>

</html>